<h2 class="d-flex justify-content-center bg-primary border border-dark">Celebrities</h2>
{{#each .}}
    <p class="shadow p-3 mb-5 bg-body rounded text-body">{{name}}</p>
{{/each}}

<div class="d-flex justify-content-end">
    <a href="/" class="btn btn-primary">Home</a>
</div>
