<h2 class="d-flex justify-content-center bg-primary border border-dark">Adding New Celebrities</h2>
<form action="/celebrities/create" method="post">
    <div class="mb-3">
    <label for="name" class="form-label"> Name:
        <input type="text" name="name" class="form-control">
    </label>
    </div>
    <div class="mb-3">
    <label for="occupation" class="form-label">Occupation: 
        <input type="text" name="occupation" class="form-control">
    </label>
    </div>
    <div class="mb-3">
    <label for="catchPhrase" class="form-label">CatchPhrase:
        <input type="text" name="catchPhrase" class="form-control">
    </label>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Add Celebrity</button>
</form>

<div class="d-flex justify-content-end">
    <a href="/" class="btn btn-primary">Home</a>
</div>