<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2 id="start-quick">Start Quick</h2>

    <a href="/celebrities" class="btn btn-primary">List of Celebrities</a>
    <a href="/celebrities/create" class="btn btn-primary">Add new celebrity</a>

    <a href="/movie/movies" class="btn btn-primary">List of MOVIES</a>
    <a href="/movie/create" class="btn btn-primary">Add new movies</a>
