<h2 class="d-flex justify-content-center bg-primary border border-dark">Add New Movie</h2>

<form action="/movie/create" method="post">
    <div class="mb-3">
    <label for="title" class="form-label"> Title: 
        <input type="" name="title" class="form-control">
    </label>

    </div>
    <div class="mb-3">
    <label for="genre" class="form-label">Genre: 
        <input type="" name="genre" class="form-control">
    </label>

    </div>
    <div class="mb-3">
    <label for="plot" class="form-label">Plot: 
        <input type="" name="plot" class="form-control">
    </label>

    </div>
    <div class="mb-3">
    <label for="cast" class="form-label">Cast: 
        <select name="cast" class="form-select" multiple>
            <option selected >Open this select menu</option>
            {{#each result}}
            <option value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </label>

    </div>

    <button type ="submit" class="btn btn-primary mb-3"> Create the movie </button>
</form>

<div class="d-flex justify-content-end">
    <a href="/" class="btn btn-primary">Home</a>
</div>



